@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat+Brush&family=Indie+Flower&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jaro:opsz@6..72&family=Patrick+Hand&family=Young+Serif&display=swap');

:root{
  /* Cores Utillizadas */

    --header:#EFA355;
    --cor01:#F2D9B6;
    --cor02:#F2B680;
    --cor03:#DAA570; /* Não está em uso no header */
    --cor05:#7A3E19;
    --cor07: #000;
    --cor600:#342019;
    --fundo1:#FFEACC;
    --fundo2:#ECEBEA;
}


*{
  margin: 0;
  padding: 0;
}  

.main{
  width: 100vw;
  height: 100vh;
  background-image: url(../src/imgs/mapa_alt.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.search_container {
  display: flex;
  justify-content: center;
  padding: 3.5em;

}
.search_input {
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  padding: 0.5em; 
  background-color: var(--cor01);
}  

.search_input::placeholder{
  color: var(--cor600);
  font-family: "Inter", sans-serif;
  font-size: 1.2em;
}

.search_button {
  display: flex;
  align-items: center;
  background:var(--cor01);
  border: 2px solid var(--cor01);
  border-radius: 28px;
  cursor: pointer;
  width: 60%;
  justify-content: space-between;
}
.search_button {
  box-shadow:  6px 4px 6px rgba(10, 10, 10, 0.568);
}

.search_history{
  display: flex;
  justify-content: center;
  padding: 3em;
/*   background-color:  darkblue; */
}

.search_location{
  display: flex;
  align-items: center;
  text-align: left;
  margin-top: 3em;
  border-radius: 10px;
  width: 65%;
  border:none;
  background-color: var(--fundo2);
  border:none; 
  cursor: pointer;
  justify-content: space-evenly;
  font-family:"Inter", sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  box-shadow:  6px 4px 6px rgba(10, 10, 10, 0.568);
}

.search_dog{
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  border:none;
  background-color: var(--fundo2);
  cursor: pointer;
  width: 65%;
  justify-content: space-evenly;
  font-family: "Inter", sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  box-shadow:  6px 4px 6px rgba(10, 10, 10, 0.568);
}