*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cad{
    display: flex;
    align-items: center;
}

.cad-header{
    background-color: aqua;
    width: 50%;
}

.cad__body{

}

.cad__image{
    background-image: url(./assets/imgs/coelho.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 1%;
    
    min-height: 100svh;
    width: 50%;
    
}