/* Estás configurações estão sendo usadas no HeaderLog


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat+Brush&family=Indie+Flower&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jaro:opsz@6..72&family=Patrick+Hand&family=Young+Serif&display=swap');

:root {
  --header:#EFA355;
  --cor02:#F2B680;
  --cor03:#DAA570; Não está em uso no header
  --cor05:#7A3E19;
  --cor07:#00000;
  --fundo1:#FFEACC;
}

*{
  margin: 0;
  padding: 0;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--header);
  width:100%;
  height: 100px;
}

nav {
  display: flex;
  gap: 40%;
}

a {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  text-decoration: none;  
  color: var(--fundo1);
}

a:hover{
  color: var(--cor05);
}

.logodog{
  padding-left: 50px;
}

.icon{
  padding-right: 50px;
}
 

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em; 
  font-size: 1em;
  background-color: var(--header);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--cor07);
  
}

 */