
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --titulo: #000;
  --header: #efa355;
  --fundo_form: #ffeacc;
  --inputs: #f2d9b6;
  --label: #684233;
  --botao: #f2b680;
  --color-100: #dec4ba;
  --color-600: #342019;
  --color-other-orange: #ff600b;
  --links:#FF600B;
}

/* INICIO CADASTRO */


/* RECUPERAÇÃO DE SENHA */

.rec-senha {
  display: flex;
}

.rec-senha__form {
  width: 50%;
}

.rec-senha__body {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}

.rec-senha__title {
  text-align: center;
}

.rec-senha__box-btn {
  text-align: center;
}

.rec-senha__image {
  background-image: url(./assets/imgs/dogInWater.png);
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 100svh;
  width: 50%;
}

