* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --titulo: #000;
  --header: #efa355;
  --fundo_form: #ffeacc;
  --inputs: #f2d9b6;
  --label: #684233;
  --botao: #f2b680;
  --color-100: #dec4ba;
  --color-600: #342019;
  --color-other-orange: #ff600b;
  --links: #ff600b;
}
