
.EditContato{
    justify-items: center;
    width: 50vw;
    background-color: blue;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.EditEndereco {
    justify-items: center;
    width: 50vw;
    background-color: blueviolet;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
  
.h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-family: "Inter", sans-serif;
    font-size: 2em;
    font-weight: normal;
  }
  
.campo {
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    padding: 20px;
}


 label {
    width: 150px;
    display: flex;
    justify-content: center;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    color: #000000;
    background-color: palevioletred;
}

input:active, input:focus {
    outline: none;
    transition: 0.5s;
    transform: scale(1.05);
}

 input {
    font-family: "Inter", sans-serif;
    padding: 12px;
    width: 150px;
    margin-right: 5px;
    border: solid rgba(82, 81, 81, 0.5) 0.1em;
    border-radius: 8px;
  }


 select {
    font-family: "Inter", sans-serif;
    padding: 10px;
    width: 150px;
    text-align: center;
    border: solid rgba(82, 81, 81, 0.5) 0.1em;
    border-radius: 8px;
    margin-right: 5px;
  }

  input, select::after{
    border: none;
  }

button{
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px;  
    border-radius: 8px;
    cursor: pointer;
  }
  
  button:hover {
    transition: 0.5s;
    transform: scale(1.05);
    background-color: #e5943c;
  }
  
  .containerfoto {
    background-image: url(../../assets/imgs/fundo_passaro.png);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh;
    width: 50vw;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    align-items: center;
}
