.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--header);
  width: 100%;
  padding: 0 2%;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__ul {
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.header__linkhome {
  margin-right: 50px;
  display: flex;
  justify-content: center;
  padding: 20px;
  font-family: "Inter", sans-serif;
  font-size: 1.2em;
  color: #ffff;
  text-decoration: none;
}

.header__linkhome:hover {
  transition: 0.5s;
  color: var(--botaohome);
  cursor: pointer;
}

.home_principal {
  width: 100%;
  height: 650px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  box-shadow: 6px 2px 8px rgba(10, 10, 10, 0.568);
}
.text_img {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 280px;
  color: white;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.text_img::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.h1 {
  font-family: "Inter", sans-serif;
  font-size: 2.5em;
  font-weight: normal;
}

.p {
  font-family: "Inter", sans-serif;
  margin-top: 15px;
  font-size: 1.5em;
  font-weight: 300;
}

.containerAvaliacoes {
  display: flex;
  justify-content: space-evenly;
  text-align: justify;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;
}

.h2 {
  font-family: "Inter", sans-serif;
  font-size: 2.5em;
  font-weight: normal;
  text-align: center;
  padding: 10vh;
}

.h3 {
  font-family: "Inter", sans-serif;
  font-size: 2.5em;
  font-weight: normal;
  text-align: center;
  margin-top: 15vh;
  padding: 10vh;
}

.article {
  margin: 120px auto;
  display: flex;
  align-items: center;
  text-align: center;
}

.h4 {
  font-family: "Inter", sans-serif;
  font-size: 2.5em;
  font-weight: normal;
}

.article_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.article_img img {
  box-shadow: 6px 2px 8px rgba(10, 10, 10, 0.568);
}

.p1 {
  font-family: "Inter", sans-serif;
  font-size: 1.4em;
  font-weight: 300;
  max-width: 35%;
}

.container_footer {
  background: url("../../assets/imgs/footer_home.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.p_footer {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
  height: inherit;
}

.overlay {
  width: 100%;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.792);
}
