.pnotification {
  height: 100svh;
}

.pnotification__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.denuncia__container{
  max-width: 1400px;
  margin: 30px auto;
}

.pnotification__button {
  position: fixed;
  right: 5%;
  bottom: 5%;
}

.pnotification__icon {
  margin: 0 5px;
}

.btn_container {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  position: fixed;
  bottom:  2%;
  right: 0; 
}

.btn_trash, .btn_refresh{
  padding: 10px;
  font-size: 35px;
}

.btn_refresh{
  border-radius: 50%;
}

.btn_trash:hover{
  background-color: red;
}
