*{
    margin: 0;
    padding: 0;
}

.containerPosts{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-size: 1em;
    font-weight: 300;
    font-size: 16px;
}

.h1{
    font-family: "Inter", sans-serif;
    font-size: 2em;
    font-weight: 400;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.posts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-size: 1em;
    font-weight: 300;
    font-size: 16px; 
}


.Container{
   /*  background-attachment: fixed;
    background-image: url(../../assets/imgs/dog_footerPosts.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:400px;
    overflow-y: auto; */
    background-color: aqua;
}