
.headopcoes{
    margin: 10px;
}

.linkpost{
    text-decoration: none;
}



.buttoncontainer{
    display: flex;
    align-items: center;
    margin: 20px;
    justify-content: space-around;
}

.button{
    padding: 20px;
    border-radius: 100px;
    background-color: var(--inputs);
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 1em;
    font-weight: 400;
    gap:10px;
    color: var(--color-600);
    cursor: pointer;
    box-shadow: 6px 4px 6px rgba(10, 10, 10, 0.568);
}

.button:hover{
    background-color:var(--botao);
    transform: scale(1.05);
    transition: 0.5s;
}

.opcaoContainer {
    text-align: center;
    padding: 20px;
}

.h1{
    font-family: "Inter", sans-serif;
    font-size: 2em;
    font-weight: 400;
}

.containerPosts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 10px;
    margin-bottom: 80px;
}

.posts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-size: 1em;
    font-weight: 300;
    font-size: 16px;
    
    
}

.container {
    background-attachment: fixed;
    background-image: url(../../assets/imgs/dog_footerPosts.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:400px;
    overflow-y: auto;
}