.rec-senha {
  display: flex;
}

.rec-senha__form {
  width: 50%;
}

.rec-senha__body {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}

.rec-senha__title {
  text-align: center;
}

.rec-senha__box-btn {
  text-align: center;
}

.rec-senha__image {
  background-image: url(../../assets/imgs/dogInWater.png);
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 100svh;
  width: 50%;
}
