/* Configurações da Página de Pesquisa Cabeçalho + Corpo da pesquisa*/

/* Estás configurações estão sendo usadas no HeaderLog */

/*  Configurações da Página de Pesquisa*/

.main {
  width: 100%;
  height: 100vh;
  background-image: url(../../assets/imgs/mapa_alt.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.search_container {
  display: flex;
  justify-content: center;
  padding: 3.5em;
  margin-bottom: 3em;
}

.search_box {
  display: flex;
  align-items: center;
  justify-items: auto;
  background-color: var(--inputs);
  padding: 15px;
  border-radius: 40px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  transition: all 0.5s ease;
  width: 60%;
}

.search_box:hover{
  box-shadow: 0 6px 16px rgba(0,0,0,0.2);
  border-color: var(--color-600);
  cursor: pointer;
}

.search_button {
  display: flex;
  align-items: center;
  background: var(--cor01);
  border: 2px solid var(--cor01);
  border-radius: 56px;
  cursor: pointer;
  width: 60%;
  justify-content: space-between;
  box-shadow: 6px 4px 6px rgba(10, 10, 10, 0.568);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
}

.search_input {
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  padding: 0.5em;
  background-color: var(--inputs);
}

.search_input::placeholder {
  color: var(--cor600);
  font-family: "Inter", sans-serif;
  font-size: 1.2em;
}

.search_history {
  display: flex;
  justify-content: center;
  padding: 3em;
}
