/* Configurações da Página de Pesquisa Cabeçalho + Corpo da pesquisa*/

/* Estás configurações estão sendo usadas no HeaderLog */

/*  Configurações da Página de Pesquisa*/

.main {
  width: 100%;
  height: 100%;
  background-image: url(../../assets/imgs/mapa_alt.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.search_container {
  display: flex;
  justify-content: center;
  padding: 3.5em;
  margin-bottom: 3em;
}

.search_button {
  display: flex;
  align-items: center;
  background: var(--cor01);
  border: 2px solid var(--cor01);
  border-radius: 28px;
  cursor: pointer;
  width: 60%;
  justify-content: space-between;
  box-shadow: 6px 4px 6px rgba(10, 10, 10, 0.568);

  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  background-color: var(--header);
  transition: border-color 0.25s;
}

.btn_search:hover {
  border-color: var(--cor07);
  cursor: pointer;
}

.search_input {
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  padding: 0.5em;
  background-color: var(--header);
}

.search_input::placeholder {
  color: var(--cor600);
  font-family: "Inter", sans-serif;
  font-size: 1.2em;
}

.search_history {
  display: flex;
  justify-content: center;
  padding: 3em;
}
