.sectionexplicacao {
  background-color: var(--inputs);
  width: 50%;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 24px;
  box-shadow: 6px 2px 8px rgba(10, 10, 10, 0.568);
  padding: 20px;
}

.p_titulo {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  font-weight: bold;
  padding: 15px;
}

.p {
  font-family: "Inter", sans-serif;
  text-align: justify;
  font-size: 1em;
  font-weight: 300;
  padding: 15px;
}
